---
http_interactions:
- request:
    method: get
    uri: https://secure.fleetio.com/api/v1/vehicles?vin=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<FLEETIO_API_TOKEN>"
      Account-Token:
      - "<FLEETIO_ACCOUNT_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pagination-Limit:
      - '100'
      X-Pagination-Current-Page:
      - '1'
      X-Pagination-Total-Count:
      - '228'
      X-Pagination-Total-Pages:
      - '3'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6ab02df0646270fe9950d343ca231eb4"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":763257,"account_id":18,"archived_at":null,"fuel_type_id":null,"fuel_type_name":null,"fuel_volume_units":"us_gallons","group_id":59155,"group_name":"24
        Degrees North","meter_unit":"km","name":"001 TEST","ownership":"Owned","secondary_meter":false,"secondary_meter_unit":null,"system_of_measurement":"metric","vehicle_status_id":3261,"vehicle_status_name":"Active","vehicle_status_color":"green","vehicle_type_id":144,"vehicle_type_name":"Car","fuel_entries_count":1,"service_entries_count":2,"service_reminders_count":0,"vehicle_renewal_reminders_count":0,"comments_count":0,"documents_count":0,"images_count":3,"current_location_entry_id":30654151,"is_sample":false,"current_meter_value":25.0,"current_meter_date":"2019-08-22","secondary_meter_value":0.0,"secondary_meter_date":null,"group_ancestry":"24
        Degrees North","color":"","license_plate":"","make":"","model":"","registration_expiration_month":0,"registration_state":"","trim":"","vin":null,"year":null,"loan_account_number":null,"loan_ended_at":null,"loan_interest_rate":null,"loan_notes":null,"loan_started_at":null,"loan_vendor_id":null,"loan_vendor_name":null,"custom_fields":{"military_hold":"false","warranty_type":"","telematics_subscription":"","test_restricted_custom_fields":""},"inspection_schedules_count":11,"issues_count":2,"work_orders_count":6,"type_name":"Car","meter_name":"Odometer","secondary_meter_name":"Secondary
        Meter","default_image_url":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/ij7O38tPTKGDVrdoeBOo","default_image_url_medium":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/ij7O38tPTKGDVrdoeBOo/convert?cache=true\u0026fit=crop\u0026h=100\u0026policy=eyJleHBpcnkiOjQ1MzQ5NDkzNDMsImNhbGwiOlsicmVhZCIsImNvbnZlcnQiXSwiaGFuZGxlIjoiaWo3TzM4dFBUS0dEVnJkb2VCT28ifQ%3D%3D\u0026rotate=exif\u0026signature=fa11d1d4c8969416abf9de849cdfaad3810b82fbbdc20ec5bc6ed0c244c56da1\u0026w=100","default_image_url_small":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/ij7O38tPTKGDVrdoeBOo/convert?cache=true\u0026fit=crop\u0026h=45\u0026policy=eyJleHBpcnkiOjQ1MzQ5NDkzNDMsImNhbGwiOlsicmVhZCIsImNvbnZlcnQiXSwiaGFuZGxlIjoiaWo3TzM4dFBUS0dEVnJkb2VCT28ifQ%3D%3D\u0026rotate=exif\u0026signature=fa11d1d4c8969416abf9de849cdfaad3810b82fbbdc20ec5bc6ed0c244c56da1\u0026w=45","default_image_url_large":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/ij7O38tPTKGDVrdoeBOo/convert?cache=true\u0026fit=scale\u0026policy=eyJleHBpcnkiOjQ1MzQ5NDkzNDMsImNhbGwiOlsicmVhZCIsImNvbnZlcnQiXSwiaGFuZGxlIjoiaWo3TzM4dFBUS0dEVnJkb2VCT28ifQ%3D%3D\u0026rotate=exif\u0026signature=fa11d1d4c8969416abf9de849cdfaad3810b82fbbdc20ec5bc6ed0c244c56da1\u0026w=450","driver":{},"specs":{"body_type":"","body_subtype":"","drive_type":"","brake_system":"","msrp_cents":null,"fuel_tank_capacity":null,"fuel_tank_2_capacity":null,"front_track_width":null,"ground_clearance":null,"height":null,"length":null,"rear_track_width":null,"width":null,"wheelbase":null,"front_tire_psi":null,"rear_tire_psi":null,"base_towing_capacity":null,"curb_weight":null,"gross_vehicle_weight_rating":null,"bed_length":null,"max_payload":null,"rear_axle_type":"","front_tire_type":"","front_wheel_diameter":"","rear_tire_type":"","rear_wheel_diameter":"","epa_city":null,"epa_highway":null,"epa_combined":null,"engine_description":"","engine_brand":"","engine_aspiration":"","engine_block_type":"","engine_bore":null,"engine_cam_type":"","engine_compression":null,"engine_cylinders":null,"engine_displacement":null,"fuel_induction":"","fuel_quality":"","max_hp":null,"max_torque":null,"oil_capacity":null,"redline_rpm":"","engine_stroke":null,"engine_valves":null,"transmission_description":"","transmission_brand":"","transmission_type":"","transmission_gears":null,"cargo_volume":null,"interior_volume":null,"passenger_volume":"","engine_bore_with_units":null,"wheelbase_with_units":null,"msrp":null},"external_ids":{"external_fuel_id":null,"fuel_id":null,"task_code":null,"traxxis_id":null},"created_at":"2019-08-13T22:51:26.606-05:00","updated_at":"2019-08-23T09:01:25.406-05:00","ai_enabled":false},{"id":153,"account_id":18,"archived_at":null,"fuel_type_id":51889,"fuel_type_name":"Unleaded","fuel_volume_units":"liters","group_id":27290,"group_name":"Auburn","meter_unit":"km","name":"0M4HH0
        - 2012 Ford F150","ownership":"Leased","secondary_meter":true,"secondary_meter_unit":"hr","system_of_measurement":"imperial","vehicle_status_id":3261,"vehicle_status_name":"Active","vehicle_status_color":"green","vehicle_type_id":144,"vehicle_type_name":"Car","fuel_entries_count":268,"service_entries_count":121,"service_reminders_count":3,"vehicle_renewal_reminders_count":3,"comments_count":40,"documents_count":10,"images_count":13,"current_location_entry_id":31380468,"is_sample":false,"current_meter_value":410110.0,"current_meter_date":"2019-08-29","secondary_meter_value":3000.0,"secondary_meter_date":"2019-08-29","group_ancestry":"Auburn","color":"Red","license_plate":"S18MLR","make":"Ford","model":"F150
        Regular Cab","registration_expiration_month":8,"registration_state":"TX","trim":"EXT","vin":"123","year":2012,"loan_account_number":"13151235","loan_ended_at":null,"loan_interest_rate":2.9,"loan_notes":"Great
        deal!","loan_started_at":"2015-09-05","loan_vendor_id":270356,"loan_vendor_name":"Vendor
        #16368 (test name)","loan_amount":25000.0,"loan_payment":500.0,"residual_value":15000.0,"custom_fields":{"military_hold":"true","warranty_type":"Extended","telematics_subscription":"Subscription
        A","test_restricted_custom_fields":"Max edit"},"inspection_schedules_count":11,"issues_count":34,"work_orders_count":32,"type_name":"Car","meter_name":"Odometer","secondary_meter_name":"Secondary
        Meter","default_image_url":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/eh7yfyNzR2qFfhndBh9Q","default_image_url_medium":"https://d3mgxxlx76tp6w.cloudfront.net/api/file/e[...]
